Sandbox/3DAxis.exe
lorenzAttractor/lorenz.exe
lorenzAttractor/lorenz.o
3DScene/hw3.o
3DScene/hw3.exe
Projections/hw4.o
Projections/hw4.exe
Lighting/project.o
Lighting/print.o
Lighting/object.o
Lighting/hw5.o
Lighting/fatal.o
Lighting/errcheck.o
Lighting/loadtexbmp.o
Lighting/hw5.exe

Lighting/hw5
Textures/hw6
Textures/print.o
Textures/project.o
Textures/hw6.o
Textures/fatal.o
Textures/errcheck.o
Textures/CSCIx229.a
Textures/object.o
lorenzAttractor/lorenz
Textures/loadtexbmp.o
